<ion-view title="New Status">
    <ion-content padding="'true'" class="has-header">
      
            <img src="" id="myImage">
            
            <div class="button-bar">
                <a class="button button-outline button-royal ion-camera" ng-click="useCamera()"></a>
                <a class="button button-outline button-royal ion-images" ng-click="pickPix()"></a>
            </div>
           

        <form class="list" ng-submit="getNewStatus()">
           
            <label class="item item-input">
                <input type="text" placeholder="Pet's Name" ng-model="status.petname" required>
            </label>
             
            <label class="item item-input">
                <input type="text" placeholder="Age" ng-model="status.age">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Breed" ng-model="status.breed" required> 
            </label>

            <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select ng-model="status.gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
            </div>

            <label class="item item-input">
                <input type="text" placeholder="Location" ng-model="status.location" required>
            </label>

            <button class="button button-outline button-royal button-block" type="submit">POST!</button>

        </form>
    </ion-content>
</ion-view>