<ion-view title="Profile">
     <ion-nav-buttons side="left">
      <button class="button" ng-click="openPopover($event)">
        <i class="icon ion-ios-more"></i>
      </button>
    </ion-nav-buttons>
    <ion-content padding="'true'" class="has-header">
        <!--div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        <img src="" id="myImage"-->
        <img src="data:image/jpeg;base64,{{profileImage}}" id="myImage" width="100%">
        </div>

        <div class="card">
            <div class="item item-divider">
              {{name}}
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-email"></i>
              {{email}}
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-social-whatsapp-outline"></i>
              {{whatsApp}}
            </div>

        </div>



        <div class="list card" ng-repeat="x in UserPost">

          <div class="item item-avatar">
            <img src="">
            <h2>{{x.PetName}}</h2>
            <p>{{x.breed}}, {{x.age}}, {{x.gender}}</p>
          </div>

          <div class="item item-image">
            <img src={{x.image}}>
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-ios-location"></i>
            {{x.city}}, {{x.state}}
          </a>

        </div>
        </div>
    </ion-content>
</ion-view>

<script id="popover.html" type="text/ng-template">
  <ion-popover-view style="height:120px">
    <ion-header-bar>
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
    <ul class="list">
        <li class="item">
            <a ng-click="logout()" style="color:red"> Log out </a>
        </li>
    </ul>
    </ion-content>
  </ion-popover-view>
</script>
